@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Global font */
body {
  @apply bg-black text-white;
  font-family: 'Inter', sans-serif;
}

/* Optional: Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #2563eb; /* blue-600 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* blue-500 */
}
